<div class="tracking-header">
  <h2>MPO Process Overview</h2>
  <p>Details about the processes are displayed below.</p>
</div>

<div *ngIf="data?.length" class="tracking-container">
  <!-- Header Section -->
  <div class="process-column" *ngFor="let process of trackerHeader | orderBy: 'sequence'" 
       cdkDropList
       [cdkDropListData]="getItemsByStatus(process.key)"
       [cdkDropListConnectedTo]="getConnectedList(process.sequence)"
       [id]="'list-' + process.sequence"
       (cdkDropListDropped)="onDrop($event, process)">
    <h3>{{ process.processName }}</h3>
    <span>MPO Quantity: {{ getItemsByStatus(process.key).length }}</span>

    <div class="card" *ngFor="let item of getItemsByStatus(process.key)" cdkDrag (click)="openModal(item)">
      <div class="card-content">
        <div>Vendor: {{ item.vendor }}</div>
        <div>MPO Date: {{ item.mpoDate }}</div>
        <div>MPO Amount: {{ item.mpoAmount }}</div>
        <!-- <div>S: {{ item.status }}</div> -->
      </div>
    </div>
  </div>
</div>

<!-- Footer Section -->
<div class="tracking-footer">
  <p>&copy; 2024 MPO Tracking. All rights reserved.</p>
  <button>Footer Action</button>
</div>
